h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
}

h2{
    text-align: center;
    color: rgb(0, 255, 64);
}

p{
    text-align: center;
    color: rgb(2, 238, 255);
}

body{
    background-color:rgb(54, 52, 51) !important;
}

.tea-menu{
    width: 80%;
    background-color: rgb(38, 0, 255);
    margin-left: auto;
    margin-right: auto;
}