h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.637);
}

h2{
    text-align: center;
    color: rgb(0, 255, 42);
}

p{
    font: 25px Times;
    text-align: center;
    color: rgb(255, 251, 2);
}

body{
    background-image: url(https://images.pexels.com/photos/13787559/pexels-photo-13787559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.tea-menu{
    width: 80%;
    background-color: rgba(65, 46, 36, 0.377);
    margin-left: auto;
    margin-right: auto;
}