h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.637);
}

h2{
    font: 40px Times;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 187, 0);
}

h3{
    font: 25px Times;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: rgb(255, 251, 2);
}

p{
    font: 18px Times;
    text-align: center;
    color: rgb(255, 251, 2);
}

body{
    background-image: url(https://images.pexels.com/photos/13787559/pexels-photo-13787559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.tea-menu{
    width: 80%;
    background-color: rgba(65, 46, 36, 0.377);
    margin-left: auto;
    margin-right: auto;
}

.Tea-Flavor{
    font-style: italic;
    font-weight: bold;
